{% extends 'base.html.twig' %}

{% block title %}
Create a new serie | {{ parent() }}
{% endblock %}

{% block body %}
<div>
    {# Balise forme ouvrante #}
    {{form_start(serieForm)}}

    {# Affichage de touts les formulare  #}
    {{form_widget(serieForm)}}
    <button>Create</button>

    {# Balise forme ferment#}
    {{form_end(serieForm)}}

</div>
{% endblock %}

